ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    margin-left: 100px;
}

li {
    background: linear-gradient(90deg, rgb(22, 134, 217), rgb(143, 211, 197));
    margin: 5px;
    padding: 30px;
    border-radius: 10px;
    max-width: 80%;
    color: white;
    font-size: .95em !important;
    align-self: flex-start;
}

li:nth-child(even) {
    align-self: flex-end;
    background: rgb(61, 63, 71);
}
